Step 5: Search & Decision Engine

This step introduces rule-based and heuristic reasoning to support loan decisions before machine learning.

1. Define heuristic rules

Heuristic Rules

- Higher income vs loan amount → safer approval
- Valid credit history → lower risk
- Missing credit history → uncertainty penalty

In [4]:
import pandas as pd

df = pd.read_csv(
    r"E:\ALL Documents\LEVEL 6 Completed\Projects\Week 1 AI & ML & Linux\end-to-end-explainable-ai-system\data\raw\loan-prediction-dataset.csv"
)

df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

2. Simple rule scoring

In [7]:
def risk_score(row):
    score = 0
    if row["Credit_History"] == 1:
        score += 2
    if row["LoanAmount"] < (row["ApplicantIncome"] / 10):
        score += 1
    return score

Calling the function directly

In [8]:
risk_score(df.iloc[0])

2

Apply it to your dataset

In [9]:
df["Risk_Score"] = df.apply(risk_score, axis=1)
df[["Credit_History", "ApplicantIncome", "LoanAmount", "Risk_Score"]].head()

   Credit_History  ApplicantIncome  LoanAmount  Risk_Score
0             1.0             5849         NaN           2
1             1.0             4583       128.0           3
2             1.0             3000        66.0           3
3             1.0             2583       120.0           3
4             1.0             6000       141.0           3